h2 {
  color: #A3232C;
  text-decoration-line: underline;
  text-decoration-style: wavy;
   text-transform: lowercase;
  text-shadow: 2px 2px 5px red;
}

body{
  background-color: #FDF2FE;
}

img:hover{
  width:300px;
  
  
}
nav {
  list-style-type: none;
  width: 100%;
  background-color:#CBA7BB;
  position: fixed;
  top: 0;
  left:0; 
}

li a {
  color:white;
  text-decoration: none;
  display:block;
  padding: 20px 100px;
  float: left;
}

li a:hover{
  background-color: #B6698B;
  color:black;
}

.img-container {
  float: left;
  width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 5px; /* if you want space between the images */

}

img {
  float: center;
  width: 15%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 100px; /* if you want space between the images */

}


